<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Steakscorp CaaS</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/full-width-pics.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><b>Steaks</b>corp CaaS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#fact">Cat-fact</a>
                    </li>
                    <li>
                        <a href="#api">API</a>
                    </li>
                    <li>
                        <a href="#source">Source</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="/static/circle-cat.png" alt="">
    </header>

    <!-- Cat-fact Section -->
    <section><a name="fact"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Cat-facts as a Service!</h1>
                    <p class="lead section-lead">{{ cat_fact.text }}</p>
                    <p class="section-paragraph">Source: <a href="{{ meta.url }}">{{ meta.source }}</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>

    <!-- API Section -->
    <section><a name="api"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">API</h1>
					<p class="section-paragraph"><b>Steakscorp CaaS</b> is inspired by Tom Dionysus' <a href="http://foaas.herokuapp.com/">FOAAS</a> project, and provides a RESTful solution to the problem of finding cat-facts to send to your friends.</p>
					
					<p class="section-paragraph">Results are returned as a JSON string. Requests are made using the <code>HTTP GET</code> method, and parameters can be chained together as normal in the request body.</p>
					
					<table class="table">
						<tr>
							<th>Parameter</th>
							<th>Input</th>
							<th>Example output</th>
							<th>Use</th>
						</tr>
						<tr>
							<td><b><i>No parameters</i></b></td>
							<td>N/A</td>
							<td style="font-family:Courier">
								<p>{ </p>
									<p style="margin-left:1em;"><b>_id</b>: 'cb40d5384945f2e07cfce3e0fe038e87',</p>
									<p style="margin-left:1em;"><b>text</b>: 'Some cats enjoy luke-warm food.',</p>
									<p style="margin-left:1em;"><b>source</b>: 'Steakscorp Labs',</p>
									<p style="margin-left:1em;"><b>url</b>: 'https://steakscorp.org/?test_fact'</p>
								<p>}</p>
							</td>
							<td>Returns a random cat-fact as a JSON document.</td>
						</tr>
						<tr>
							<td><code>intro</code></td>
							<td><code>yes, no</code> (default <b>no</b>)</td>
							<td style="font-family:Courier">
								<p>{ </p>
									<p style="margin-left:1em;"><b>_id</b>: 'cb40d5384945f2e07cfce3e0fe038e87',</p>
									<p style="margin-left:1em;"><b>text</b>: 'Hey! Did you know? Some cats enjoy luke-warm food.',</p>
									<p style="margin-left:1em;"><b>source</b>: 'Steakscorp Labs',</p>
									<p style="margin-left:1em;"><b>url</b>: 'https://steakscorp.org/?test_fact'</p>
								<p>}</p>
							</td>
							<td>Prepends some introduction text in front of the cat-fact in the <code>text</code> field.</td>
						</tr>
						<tr>
							<td><code>newsub</code></td>
							<td><code>yes, no</code> (default <b>no</b>)</td>
							<td style="font-family:Courier">
								<p>{ </p>
									<p style="margin-left:1em;"><b>_id</b>: 'cb40d5384945f2e07cfce3e0fe038e87',</p>
									<p style="margin-left:1em;"><b>text</b>: 'You are now subscribed to Cat-Facts! Some cats enjoy luke-warm food.',</p>
									<p style="margin-left:1em;"><b>source</b>: 'Steakscorp Labs',</p>
									<p style="margin-left:1em;"><b>url</b>: 'https://steakscorp.org/?test_fact'</p>
								<p>}</p>
							</td>
							<td>Prepends some <i>new subscription text</i> in front of the cat-fact in the <code>text</code> field.</td>
						</tr>
						<tr>
							<td><code>unsub</code></td>
							<td><code>yes, no</code> (default <b>no</b>)</td>
							<td style="font-family:Courier">
								<p>{ </p>
									<p style="margin-left:1em;"><b>_id</b>: 'cb40d5384945f2e07cfce3e0fe038e87',</p>
									<p style="margin-left:1em;"><b>text</b>: 'Some cats enjoy luke-warm food. Reply "unsubscribe" to unsubscribe from this list.',</p>
									<p style="margin-left:1em;"><b>source</b>: 'Steakscorp Labs',</p>
									<p style="margin-left:1em;"><b>url</b>: 'https://steakscorp.org/?test_fact'</p>
								<p>}</p>
							</td>
							<td>Appends some <i>unsubscribe option text</i> behind the cat-fact in the <code>text</code> field.</td>
						</tr>
						<tr>
							<td><code>notrecog</code></td>
							<td><code>yes, no</code> (default <b>no</b>)</td>
							<td style="font-family:Courier">
								<p>{ </p>
									<p style="margin-left:1em;"><b>_id</b>: 'cb40d5384945f2e07cfce3e0fe038e87',</p>
									<p style="margin-left:1em;"><b>text</b>: 'Command not recognized. Some cats enjoy luke-warm food.',</p>
									<p style="margin-left:1em;"><b>source</b>: 'Steakscorp Labs',</p>
									<p style="margin-left:1em;"><b>url</b>: 'https://steakscorp.org/?test_fact'</p>
								<p>}</p>
							</td>
							<td>Appends <code>Command not recognized.</code> in front of the cat-fact in the <code>text</code> field.</td>
						</tr>
						<tr>
							<td><code>exclude</code></td>
							<td>comma-seperated source names (default <b>include all sources</b>)<br /><br />e.g. <code>Steakscorp+Labs,Evilcorp</code></td>
							<td style="font-family:Courier">
								<p>{ </p>
									<p style="margin-left:1em;"><b>_id</b>: '83d6305cb818d7589024f750a5f8258c',</p>
									<p style="margin-left:1em;"><b>text</b>: 'Cats have over 100 sounds in their vocal repertoire.',</p>
									<p style="margin-left:1em;"><b>source</b>: 'Not-Steakscorp Labs',</p>
									<p style="margin-left:1em;"><b>url</b>: 'https://steakscorp.org/?notlabs&test_fact'</p>
								<p>}</p>
							</td>
							<td>Excludes a cat-fact from a given data source or sources from being returned.</td>
						</tr>
						<tr>
							<td><code>include</code></td>
							<td>comma-seperated source names (default <b>include all sources</b>)<br /><br />e.g. <code>Evilcorp,Not-Steakscorp+Labs</code></td>
							<td style="font-family:Courier">
								<p>{ </p>
									<p style="margin-left:1em;"><b>_id</b>: '1414cda7ccb7b6099e36a065c2cbc608',</p>
									<p style="margin-left:1em;"><b>text</b>: 'Cats cannot taste sweet things.',</p>
									<p style="margin-left:1em;"><b>source</b>: 'Evilcorp',</p>
									<p style="margin-left:1em;"><b>url</b>: 'https://steakscorp.org/?evilcorp&test_fact'</p>
								<p>}</p>
							</td>
							<td>Includes a cat-fact from a given data source or sources from being returned, and excludes all other sources.</td>
						</tr>
						<tr>
							<td><code>id</code></td>
							<td>id of a cat-fact (default <b>random</b>)<br /><br />
							e.g. <code>cb40d5384945f2e07cfce3e0fe038e87</code></td>
							<td style="font-family:Courier">
								<p>{ </p>
									<p style="margin-left:1em;"><b>_id</b>: 'cb40d5384945f2e07cfce3e0fe038e87',</p>
									<p style="margin-left:1em;"><b>text</b>: 'Some cats enjoy luke-warm food.',</p>
									<p style="margin-left:1em;"><b>source</b>: 'Steakscorp Labs',</p>
									<p style="margin-left:1em;"><b>url</b>: 'https://steakscorp.org/?test_fact'</p>
								<p>}</p>
							</td>
							<td>Returns a specific cat-fact by <code>id</code>.</td>
						</tr>
					</table>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
	
	<!-- Source Section -->
	<section><a name="source"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Source</h1>
					<p class="section-paragraph"><b>Steakscorp CaaS</b> is hosted on GitHub <a href="https://github.com/OzuYatamutsu/caas">here</a>. This project is inspired by Tom Dionysus' FOAAS project, which is also hosted on GitHub <a href="https://github.com/tomdionysus/foaas">here</a>.</p>
					
					<p class="section-paragraph">This web service is powered by Django, with a MongoDB + Python back-end.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
